# -*- coding: utf-8 -*-
"""
Example settings for production server.
"""
import os

from il2ec.settings.base import * # pylint: disable=W0614,W0401
from django.utils.translation import ugettext_lazy as _

#------------------------------------------------------------------------------
# Calculation of directories relative to the project module location
#------------------------------------------------------------------------------

VAR_ROOT = os.path.join(
    os.path.expanduser('~'), '.virtualenvs', 'il2ec', 'var')
LOG_ROOT = os.path.join(VAR_ROOT, 'log')

try:
    if not os.path.exists(VAR_ROOT):
        os.mkdir(VAR_ROOT)
    if not os.path.exists(LOG_ROOT):
        os.mkdir(LOG_ROOT)
except OSError:
    pass

#------------------------------------------------------------------------------
# Main project settings
#------------------------------------------------------------------------------

DEBUG = False
TEMPLATE_DEBUG = DEBUG

HOSTNAME = 'il2ec.dev'
PROJECT_NAME = _("YOUR PROJECT NAME")
GRAPPELLI_ADMIN_TITLE = _("{0} admin").format(PROJECT_NAME)

SECRET_KEY = 'YOUR_VERY_LONG_LONG_LONG_LONG_LONG_LONG_SECRET_KEY'

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'YOUR_DATABASE_NAME',

        'USER': 'YOUR_DATABASE_USER',
        'PASSWORD': 'YOUR_DATABASE_PASSWORD',

        'HOST': 'localhost',
        'PORT': '', # use default
    }
}

#------------------------------------------------------------------------------
# Media settings
#------------------------------------------------------------------------------

STATIC_ROOT = os.path.join(VAR_ROOT, 'static')
MEDIA_ROOT = os.path.join(VAR_ROOT, 'uploads')

#------------------------------------------------------------------------------
# Email settings (example for Gmail)
#------------------------------------------------------------------------------

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True

EMAIL_HOST_USER = 'YOUR_ACCOUNT_NAME@gmail.com'
EMAIL_HOST_PASSWORD = 'YOUR_GMAIL_PASSWORD'

ADMINS = (
    ("Ivanov", "ivanov@example.com"),
)
SUPPORTERS = ADMINS

#------------------------------------------------------------------------------
# Sessions / cookies
#------------------------------------------------------------------------------

from django.template.defaultfilters import slugify

COOKIE_PREFIX = slugify(HOSTNAME)
if COOKIE_PREFIX:
    SESSION_COOKIE_NAME = '{0}-sessionid'.format(COOKIE_PREFIX)
    CSRF_COOKIE_NAME = 'csrftoken'
    LANGUAGE_SESSION_KEY = 'django_language'
    LANGUAGE_COOKIE_NAME = '{0}-{1}'.format(COOKIE_PREFIX,
                                            LANGUAGE_SESSION_KEY)

#------------------------------------------------------------------------------
# Logging
#------------------------------------------------------------------------------

LOGGING.update({
    'handlers': {
        'il2ec': {
            'level': 'ERROR',
            'class': 'logging.handlers.RotatingFileHandler',
            'maxBytes': 1024 * 1024 * 5, # 5 MiB
            'backupCount': 20,
            'filename': os.path.join(LOG_ROOT, 'il2ec-web.log'),
            'formatter': 'logsna',
        },
    },
})

#------------------------------------------------------------------------------
# Miscellaneous project settings
#------------------------------------------------------------------------------

# Commander settitngs ---------------------------------------------------------
IL2_VERSION = '4.12.2'
IL2_EXTERNAL_ADDRESS = HOSTNAME

IL2_CONNECTION = {
    'host': 'il2ds-host',
    'cl_port': 20000,
    'dl_port': 10000,
}

IL2_SERVER_PATH = "YOUR_IL2_SERVER_PATH"
IL2_CONFIG_PATH = os.path.join(IL2_SERVER_PATH, 'confs.ini')
IL2_EVENTS_LOG_PATH = os.path.join(IL2_SERVER_PATH, 'log', 'events.log')

COMMANDER_API = {
    'host': '127.0.0.1',
    'port': 20001,
}
COMMANDER_PID_FILE = os.path.join(PROJECT_DIR, 'il2ec-daemon.pid')
COMMANDER_LOG = {
    'filename': os.path.join(LOG_ROOT, 'il2ec-daemon.log'),
    'level': 'ERROR',
    'maxBytes': 1024 * 1024 * 10, # 10 MiB
    'backupCount': 10,
}
