<div class="row">
  <div class="col-md-12">
    <div class="tab-content">
      <!-- Sign in tab START -->
      <div class="tab-pane active" id="id_tab_sign_in">
        <form class="form form-ajax" role="form" id="id_form_sign_in" action="{% url auth-custom-sign-in %}" method="post">
          <legend>{% trans %}Sign in{% endtrans %}</legend>
          {% csrf_token %}
          <!-- Form errors START -->
          <div class="alert alert-danger alert-dismissable alerts-placeholder">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <span class='form-message'></span>
          </div>
          <!-- Form errors END -->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" class="form-control" name="callsign_email" id="id_callsign_email" data-toggle="tooltip" title="{% trans %}Callsign or email{% endtrans %}" placeholder="{% trans %}Callsign or email{% endtrans %}" required>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              <input type="password" class="form-control" name="password" id="id_password" data-toggle="tooltip" title="{% trans %}Password{% endtrans %}" placeholder="{% trans %}Password{% endtrans %}" required>
            </div>
          </div>
          <a href="#id_tab_remind_me" class="pull-right" data-toggle="tab">{% trans %}Forgot something?{% endtrans %}</a>
          <label class="checkbox">
            <input type="checkbox" name="remember_me" />
            {% trans %}Remember me{% endtrans %}
          </label>
          <button type="submit" id="id_submit_sign_in" class="btn btn-lg btn-block btn-primary ladda-button" data-style="zoom-out">{% trans %}DO_SIGN_IN{% endtrans %}</button>
        </form>
      </div>
      <!-- Sign in tab END -->
      <!-- Remind data tab START -->
      <div class="tab-pane fade" id="id_tab_remind_me">
        <form class="form form-ajax" role="form" id="id_form_remind_me" action="{% url api-auth-custom-remind-me %}" method="post">
          <legend>{% trans %}Remind me{% endtrans %}</legend>
          <span class="help-block">{% trans %}Give us email or callsign and get instructions for resetting password{% endtrans %}.</span>
          {% csrf_token %}
          <!-- Form messages START -->
          {% include "auth_custom/blocks/remind-data-success.html" %}
          <div class="alert alert-danger alert-dismissable alerts-placeholder">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <span class='form-message'></span>
          </div>
          <!-- Form messages END -->
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input type="text" class="form-control" name="callsign_email" id="id_callsign_email" data-toggle="tooltip" title="{% trans %}Callsign or email{% endtrans %}" placeholder="{% trans %}Callsign or email{% endtrans %}" required>
            </div>
          </div>
          <button id="id_submit_remind_me" type="submit" class="btn btn-primary ladda-button" data-style="zoom-out">{% trans %}Submit{% endtrans %}</button>
          <a href="#id_tab_sign_in" data-toggle="tab" class="pull-right" style="margin-top: 7px;">{% trans %}Wait, I remember{% endtrans %}</a>
        </form>
      </div>
    </div>
    <!-- Remember password tab END -->
    <div class="or-box">
      <span class="or">{% trans %}OR{% endtrans %}</span>
      <a href="{% url auth-custom-sign-up-request %}" role="button" class="btn btn-default btn-sm btn-block">{% trans %}Create an account{% endtrans %}</a>
    </div>
  </div>
</div>
