# Install all required third-party applications in a row using pip. Example:
#
#  pip install -r requirements.txt

django==1.5.1
django-extensions==1.1.1
django-debug-toolbar==0.9.4
django-admin-tools==0.5.1
django-constance==0.6
dj-database-url==0.2.1
django-compressor==1.3
django-transmeta==0.6.10

-e git+https://github.com/oblalex/django-xlivesettings.git#egg=django-xlivesettings
johnny-cache==1.4
redis==2.7.5
hiredis==0.1.1
django-redis-cache==0.9.7

django-grappelli==2.4.4
jinja2==2.6
psycopg2==2.5
south==0.7.6
fabric==1.6
coffin==0.3.7
docutils==0.10
logsna==1.2
pygments==1.6
