#id_current_mission_legend {
  font-size: 30px;
}
#id_left_bar,
#id_right_bar {
  margin-top: 20px;
}
#id_left_bar legend,
#id_right_bar legend {
  color: #808080;
  font-size: 16px;
}

/* Recent events and missions ---------------------------------------------- */
.recent-event,
.recent-mission {
  font-size: 12px;
  margin: 4px 0;
  padding: 15px 10px 10px 15px;
  border-left: 3px solid #EEE;
}
.recent-event .text-muted,
.recent-mission .text-muted {
  margin: 0;
  padding: 0;
}

.recent-event-red,
.recent-mission-red {
  color: #8D2E2E;
  background-color: #fdf7f7;
  border-color: #DF5E5A;
}
.recent-event-red a,
.recent-mission-red a {
  color: #E7443F;
}
.recent-event-red .text-muted,
.recent-mission-red .text-muted {
  color: #D69696;
}

.recent-event-blue,
.recent-mission-blue {
  color: #437788;
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.recent-event-blue a,
.recent-mission-blue a {
  color: #428bca;
}
.recent-event-blue .text-muted,
.recent-mission-blue .text-muted {
  color: #96B2D6;
}

.recent-event-none,
.recent-mission-none {
  color: #7C7C7C;
  background-color: #F5F5F5;
  border-color: #B4B4B4;
}
.recent-event-none a,
.recent-mission-none a {
  color: #777777;
}
.recent-event-none .text-muted,
.recent-mission-none .text-muted {
  color: #AFAFAF;
}
