#id_current_mission_legend {
  font-size: 30px;
}
#id_left_bar, #id_right_bar {
  margin-top: 20px;
}
#id_left_bar legend, #id_right_bar legend {
  color: #808080;
  font-size: 16px;
}

/* Recent events ----------------------------------------------------------- */
.recent-event {
  font-size: 12px;
  margin: 4px 0;
  padding: 15px 10px 10px 15px;
  border-left: 3px solid #EEE;
}
.recent-event .text-muted {
  margin: 0;
  padding: 0;
}

.recent-event-red {
  color: #8D2E2E;
  background-color: #fdf7f7;
  border-color: #DF5E5A;
}
.recent-event-red a {
  color: #E7443F;
}
.recent-event-red .text-muted {
  color: #D69696;
}

.recent-event-blue {
  color: #437788;
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.recent-event-blue a {
  color: #428bca;
}
.recent-event-blue .text-muted {
  color: #96B2D6;
}

.recent-event-none {
  color: #7C7C7C;
  background-color: #F5F5F5;
  border-color: #B4B4B4;
}
.recent-event-none a {
  color: #777777;
}
.recent-event-none .text-muted {
  color: #AFAFAF;
}

/* ta-da */
.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}
