{% load website_utils %}
<!DOCTYPE html>
{% set PROJECT_NAME = settings.PROJECT_NAME %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block head_title %}{% endblock %} - {{ PROJECT_NAME }}</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css">

  {% compress css %}
  <!-- Optional theme -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-theme.min.css">
  <!-- Ladda button spinner -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/ladda/ladda-themeless.min.css">
  <!-- Application's styles  -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
  {% endcompress %}

  {% block head_extras %}
  {% endblock %}
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="nav-container" class="container">
    <table id='nav-wrapper'>
      <tr>
        <td class='nav-side'>
          <ul class="nav navbar-nav">
            <li class="dropdown dropdown-large">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ STATIC_URL }}images/logo-white.png" alt="menu">
              </a>
              <ul class="dropdown-menu dropdown-menu-large row">
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Glyphicons</li>
                    <li><a href="#">Available glyphs</a></li>
                    <li class="disabled"><a href="#">How to use</a></li>
                    <li><a href="#">Examples</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdowns</li>
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Aligninment options</a></li>
                    <li><a href="#">Headers</a></li>
                    <li><a href="#">Disabled menu items</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Button groups</li>
                    <li><a href="#">Basic example</a></li>
                    <li><a href="#">Button toolbar</a></li>
                    <li><a href="#">Sizing</a></li>
                    <li><a href="#">Nesting</a></li>
                    <li><a href="#">Vertical variation</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Button dropdowns</li>
                    <li><a href="#">Single button dropdowns</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Input groups</li>
                    <li><a href="#">Basic example</a></li>
                    <li><a href="#">Sizing</a></li>
                    <li><a href="#">Checkboxes and radio addons</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Navs</li>
                    <li><a href="#">Tabs</a></li>
                    <li><a href="#">Pills</a></li>
                    <li><a href="#">Justified</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Navbar</li>
                    <li><a href="#">Default navbar</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Text</a></li>
                    <li><a href="#">Non-nav links</a></li>
                    <li><a href="#">Component alignment</a></li>
                    <li><a href="#">Fixed to top</a></li>
                    <li><a href="#">Fixed to bottom</a></li>
                    <li><a href="#">Static top</a></li>
                    <li><a href="#">Inverted navbar</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <div id="project-name" data-toggle="tooltip-nav" title="{% trans %}Go to home page{% endtrans %}">
            <a href="{% url website-index %}">{{ PROJECT_NAME }}</a>
          </div>
        </td>
        <td class='nav-side'>
          <ul id='navbar-side' class="nav navbar-nav navbar-right">
          {% if user.is_anonymous() %}
            <!-- Anonymous section START -->
            <!-- Language selector START -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Language{% endtrans %}: {{ LANGUAGE_NAME }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for (code, (name, native)) in settings.LANGUAGES_INFO %}
                  <li><a href="#" lang_code="{{ code }}" class="change_language" data-toggle="tooltip-nav" title="{{ name }}">{{ native }}</a></li>
                {% endfor %}
              </ul>
              <form action="/i18n/setlang/" method="post" style="display: none" id="language_form">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ CURRENT_PATH }}" />
                <input type="hidden" value="" name="language" id="language_value" />
              </form>
            </li>
            <!-- Language selector END -->
            {% if not sign_in_page %}
            <!-- Sign in START -->
            <li id="dropdown-sign-in" class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Sign in{% endtrans %} <b class="caret"></b></a>
               <ul id="sign-in-menu" class="dropdown-menu">
                  <li>
                  {% include "auth_custom/blocks/sign-in.html" %}
                  </li>
               </ul>
            </li>
            <!-- Sign in END -->
            {% endif %}
          <!-- Anonymous section END -->
          {% else %}
          <!-- Authorized section START -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
              <ul id="nav_user_menu" class="dropdown-menu">
                {% set full_name=user.get_full_name() %}
                {% if full_name %}
                  <li id="nav_full_name" class="dropdown-header">{{ full_name }}</li>
                  <li class="divider"></li>
                {% endif %}
                <li><a href="#">{% trans %}Request connection{% endtrans %}</a></li>
                <li><a href="{% url auth-custom-user-settings %}">{% trans %}Settings{% endtrans %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url auth-custom-sign-out %}">{% trans %}Sign out{% endtrans %}</a></li>
              </ul>
            </li>
          <!-- Authorized section END -->
          {% endif %}
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Wrap all page content here -->
<div id="wrap">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</div>

<!-- Place Javascript at the end of the document so the pages load faster -->
{% compress js %}
<!-- Compiled and minified jQuery -->
<script src="{{ STATIC_URL }}lib/jquery/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Compiled and minified js for Bootstrap -->
<script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Ladda button spinner -->
<script src="{{ STATIC_URL }}lib/ladda/spin.min.js"></script>
<script src="{{ STATIC_URL }}lib/ladda/ladda.min.js"></script>

<script type="text/javascript">
  /* Enable tooltips */
  var tooltip_delay = { show: 500, hide: 100 }

  $('[data-toggle="tooltip-nav"]').tooltip({
    placement: 'bottom',
    delay: tooltip_delay,
  })
  $('[data-toggle="tooltip"]').tooltip({
    placement: 'top',
    delay: tooltip_delay,
  })
</script>

<!-- Anonymous section START -->
{% if user.is_anonymous() %}
<script type="text/javascript">
  /* Setup AJAX CSRF token ------------------------------------------------- */
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method))
  }
  $.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
      }
    }
  })

  /* Process selecting of language ----------------------------------------- */
  $('.change_language').click(function(e) {
    e.preventDefault()
    $('#language_value').val($(this).attr('lang_code'))
    $('#language_form').submit()
  })

  /* Fix 'focus lost' for sign in dropdown menu due to usage of tabs ------- */
  $('#dropdown-sign-in').on('hide.bs.dropdown', function() {
    $(this).removeClass('active')
  })

  /* AJAX forms helpers ---------------------------------------------------- */
  $('.form-ajax').each(function() {
    var frm = this
    , $frm = $(this)

    frm.show_error = function(message) {
      $frm.find('.alert-danger .form-message').text(message)
      $frm.find('.alert-danger').show()
    }
    frm.hide_messages = function() {
      $frm.find('.alerts-placeholder').hide()
    }
    $frm.find('.alert .close').click(function() {
      $(this).parent().hide()
    })
  })

  /* Submit 'sign in' request ---------------------------------------------- */
  $('#id_form_sign_in').submit(function(e) {
    e.preventDefault()

    var frm = this
    , $frm = $(this)
    , url = $frm.attr('action')
    , button = $frm.find('#id_submit_sign_in').get(0)

    if (typeof button.ladda === "undefined") {
      button.ladda = Ladda.create(button)
    }

    frm.hide_messages()
    button.ladda.start()
    $.post(url
      , $frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          /* Do not call 'reload' - authorized user's language may differ from
           * language on current page.
           */
          window.location = "{{ sign_in_next or CURRENT_PATH }}"
        } else {
          frm.show_error(response.error.message)
        }
      }
      , "json"
    ).fail(function(request, status, error) {
      frm.show_error("{% trans %}Request execution error{% endtrans %}")
    }).always(function() {
      button.ladda.stop()
    })

    return false
  })

  /* Submit 'remind me' request -------------------------------------------- */
  $('#id_form_remind_me').submit(function(e) {
    e.preventDefault()

    var frm = this
    , $frm = $(this)
    , url = $frm.attr('action')
    , button = $frm.find('#id_submit_remind_me').get(0)

    if (typeof button.ladda === "undefined") {
      button.ladda = Ladda.create(button)
    }

    frm.hide_messages()
    button.ladda.start()
    $.post(url
      , $frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          $frm.find('#id_target_email').text(response.email)
          $frm.find('.alert-success').show()
        } else {
          frm.show_error(response.error.message)
        }
      }
      , "json"
    ).fail(function(request, status, error) {
      frm.show_error("{% trans %}Request execution error{% endtrans %}")
    }).always(function() {
      button.ladda.stop()
    })

    return false
  })
</script>
{% endif %}
<!-- Anonymous section END -->
{% endcompress %}

{% block script_extras %}
{% endblock %}

</body>
</html>
