<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />

   {% compress css %}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-theme.min.css">

  <!-- Application's styles  -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
  {% endcompress %}

  {% block head_extras %}
  {% endblock %}
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="nav-container" class="container">
    <div class='navbar-brand'></div>
    <div id='project-name'>
      <a href="/">{{ PROJECT_NAME }}</a>
    </div>
    <ul id='navbar-side' class="nav navbar-nav navbar-right">
      <li><a href="#">Static top</a></li>
      <li class='active'><a href="./">Fixed top</a></li>
    </ul>
  </div>
</div>

<!-- Wrap all page content here -->
<div id="wrap">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</div>

<!-- Placed at the end of the document so the pages load faster -->

<!-- Latest compiled and minified jQuery -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{{ STATIC_URL }}/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- Placeholder -->
<script src="http://getbootstrap.com/docs-assets/js/holder.js"></script>

{% block script_extras %}
{% endblock %}

</body>
</html>
