<!DOCTYPE html>
<html>
<head>
  <title>{% block head_title %}{% endblock %} - {{ PROJECT_NAME }}</title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css">

  {% compress css %}
  <!-- Optional theme -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap-theme.min.css">
  <!-- Ladda button spinner -->
  <link rel="stylesheet" href="{{ STATIC_URL }}lib/ladda/ladda-themeless.min.css">
  <!-- Application's styles  -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
  {% endcompress %}

  {% block head_extras %}
  {% endblock %}
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div id="nav-container" class="container">
    <table id='nav-wrapper'>
      <tr>
        <td class='nav-side'>
          <ul class="nav navbar-nav">
            <li class="dropdown dropdown-large">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ STATIC_URL }}images/logo-white.png" alt="menu">
              </a>
              <ul class="dropdown-menu dropdown-menu-large row">
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Glyphicons</li>
                    <li><a href="#">Available glyphs</a></li>
                    <li class="disabled"><a href="#">How to use</a></li>
                    <li><a href="#">Examples</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdowns</li>
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Aligninment options</a></li>
                    <li><a href="#">Headers</a></li>
                    <li><a href="#">Disabled menu items</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Button groups</li>
                    <li><a href="#">Basic example</a></li>
                    <li><a href="#">Button toolbar</a></li>
                    <li><a href="#">Sizing</a></li>
                    <li><a href="#">Nesting</a></li>
                    <li><a href="#">Vertical variation</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Button dropdowns</li>
                    <li><a href="#">Single button dropdowns</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Input groups</li>
                    <li><a href="#">Basic example</a></li>
                    <li><a href="#">Sizing</a></li>
                    <li><a href="#">Checkboxes and radio addons</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Navs</li>
                    <li><a href="#">Tabs</a></li>
                    <li><a href="#">Pills</a></li>
                    <li><a href="#">Justified</a></li>
                  </ul>
                </li>
                <li class="col-sm-3">
                  <ul>
                    <li class="dropdown-header">Navbar</li>
                    <li><a href="#">Default navbar</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Text</a></li>
                    <li><a href="#">Non-nav links</a></li>
                    <li><a href="#">Component alignment</a></li>
                    <li><a href="#">Fixed to top</a></li>
                    <li><a href="#">Fixed to bottom</a></li>
                    <li><a href="#">Static top</a></li>
                    <li><a href="#">Inverted navbar</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </td>
        <td>
          <div id="project-name" data-toggle="nav-tooltip" title="{% trans %}Go to home page{% endtrans %}">
            <a href="{% url website-index %}">{{ PROJECT_NAME }}</a>
          </div>
        </td>
        <td class='nav-side'>
          <!-- Anonymous section START -->
          {% if user.is_anonymous() %}
          <ul id='navbar-side' class="nav navbar-nav navbar-right">
          <!-- Language selector START -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Language{% endtrans %}: {{ LANGUAGE }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for code, name, native in settings.LANGUAGES_INFO %}
                  <li><a href="#" lang_code="{{ code }}" class="change_language" data-toggle="nav-tooltip" title="{{ name }}">{{ native }}</a></li>
                {% endfor %}
              </ul>
              <form action="/i18n/setlang/" method="post" style="display: none" id="language_form">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ CURRENT_PATH }}" />
                <input type="hidden" value="" name="language" id="language_value" />
              </form>
            </li>
            <!-- Language selector END -->
            {% if not signin_page %}
            <!-- Sign in START -->
            <li id="dropdown-signin" class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans %}Sign in{% endtrans %} <b class="caret"></b></a>
               <ul id="signin-menu" class="dropdown-menu">
                  <li>
                  {% include "auth_custom/blocks/sign-in.html" %}
                  </li>
               </ul>
            </li>
            <!-- Sign in END -->
            {% endif %}
          </ul>
          <!-- Anonymous section END -->
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Wrap all page content here -->
<div id="wrap">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</div>

<!-- Place Javascript at the end of the document so the pages load faster -->
{% compress js %}
<!-- Latest compiled and minified jQuery -->
<script src="{{ STATIC_URL }}lib/jquery/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="{{ STATIC_URL }}lib/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<!-- Ladda button spinner -->
<script src="{{ STATIC_URL }}lib/ladda/spin.min.js"></script>
<script src="{{ STATIC_URL }}lib/ladda/ladda.min.js"></script>

<script type="text/javascript">
  /* Enable tooltips */
  $('[data-toggle="nav-tooltip"]').tooltip({
    placement: 'bottom',
    delay: { show: 500, hide: 100 }
  })
</script>

<!-- Anonymous section START -->
{% if user.is_anonymous() %}
<script type="text/javascript">
  /* Setup AJAX CSRF token */
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    crossDomain: false, // obviates need for sameOrigin test
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
      }
    }
  });
  /* Process language selecting */
  $('.change_language').click(function(e) {
    e.preventDefault()
    $('#language_value').val($(this).attr('lang_code'))
    $('#language_form').submit()
  })
  /* Fix 'focus lost' for sign in dropdown menu due to usage of tabs */
  $('#dropdown-signin').on('hide.bs.dropdown', function() {
    $(this).removeClass('active')
  })
</script>

<!-- Non-sign in page section START -->
{% if not signin_page %}
<script type="text/javascript">
  /* Hide sign in error message */
  $('#form-signin .alert .close').click(function() {
    $(this).parent().hide()
  })
  /* Submit sign in request */
  $('#form-signin').submit(function(e) {
    e.preventDefault()
    var frm = $(this)
    , url = frm.attr('action')
    , button = frm.find('#submit-signin').get(0)
    , l = Ladda.create(button)

    function show_error(message) {
      frm.find('.alert-danger .form-message').text(message)
      frm.find('.alert-danger').show()
    }

    frm.find('.alert-danger').hide()
    l.start()
    $.post(url
      , frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          frm.find('.alert-success').show()
          /* Do not call 'reload' - authorized user's language may differ from
           * current
           */
          window.location = "{{ current_path }}"
        } else {
          show_error(response.error.message)
        }
      }
      , "json"
    ).fail(function(request, status, error) {
      show_error("{% trans %}Request error{% endtrans %}")
    }).always(function() {
      l.stop()
    })

    return false
  })
</script>
{% endif %}
<!-- Non-sign in page section END -->
{% endif %}
<!-- Anonymous section END -->
{% endcompress %}

{% block script_extras %}
{% endblock %}

<!-- Placeholder -->
<script src="http://getbootstrap.com/docs-assets/js/holder.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
