<html>
<body>
{% trans %}Hello{% endtrans %}!
<br/><br/>
{% trans %}
You've just sent sign up request on <a href='{{ host_address }}' target='blank'>{{ host_name }}</a>, haven't you? If so, follow this link to confirm your email:
{% endtrans %}
<br/>
<a href='{{ confirmation_url }}' target='blank' title='{% trans %}Click here to confirm your email{% endtrans %}'>{{ confirmation_url }}</a>
<br/><br/>
{% trans time_left=expiration_date|timeuntil(creation_date) %}
Your request will expire in {{ time_left }}.
{% endtrans %}
<br/><br/>
{% trans %}Thank you{% endtrans %}!
<br/><br/>
{% trans %}If you do not know, why you have got this email, please, ignore it.{% endtrans %}
</body>
</html>
