{% extends "base.html" %}

{% block head_title %}
{% trans %}HOME{% endtrans %} (mockup)
{% endblock %}

{% block head_extras %}
    <link rel="stylesheet" href="{{ STATIC_URL }}mockups/mockups.css">
{% endblock %}

{% block content %}
<div class='row offset-bottom'>
  <div id='id_left_bar' class="col-sm-3">

    <div class="offset-bottom">
    	<legend>Recent events</legend>

      <div class="row recent-event recent-event-red">
        <strong><a href="#">Some mass online event</a></strong>
        <p>was won by <strong>red</strong> team</p>
        <small class="pull-left">
          <span class="glyphicon glyphicon-eye-open"></span> 171
          <span class="glyphicon glyphicon-comment"></span> 39
        </small>
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> 12 mins ago</small>
      </div>

      <div class="row recent-event recent-event-blue">
        <strong><a href="#">Another mass online event</a></strong>
        <p>was won by <strong>blue</strong> team</p>
        <small class="pull-left">
          <span class="glyphicon glyphicon-eye-open"></span> 1009
          <span class="glyphicon glyphicon-comment"></span> 158
        </small>
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> 3 days ago</small>
      </div>

      <div class="row recent-event recent-event-none">
        <strong><a href="#">Yet another nice online event</a></strong>
        <p>was played in a draw</p>
        <small class="pull-left">
          <span class="glyphicon glyphicon-eye-open"></span> 2063
          <span class="glyphicon glyphicon-comment"></span> 309
        </small>
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> 5 months ago</small>
      </div>

      <p class="text-center"><a href="#">View more recent events</a></p>
    </div>

    <div>
      <legend>Recent missions</legend>

      <div class="row recent-event recent-event-blue">
        <strong><a href="#">Some epic battle</a></strong>
        <p>was won by <strong>blue</strong> team</p>
        <small class="pull-left">
          <span class="glyphicon glyphicon-eye-open"></span> 10
          <span class="glyphicon glyphicon-comment"></span> 0
        </small>
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> 1 hour ago</small>
      </div>

      <div class="row recent-event recent-event-none">
        <strong><a href="#">Insane dogfight</a></strong>
        <p>was played in a draw</p>
        <small class="pull-left">
          <span class="glyphicon glyphicon-eye-open"></span> 17
          <span class="glyphicon glyphicon-comment"></span> 1
        </small>
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> 3 hours ago</small>
      </div>

      <div class="row recent-event recent-event-red">
        <strong><a href="#">Battle of Bessarabia</a></strong>
        <p>was won by <strong>red</strong> team</p>
        <small class="pull-left">
          <span class="glyphicon glyphicon-eye-open"></span> 48
          <span class="glyphicon glyphicon-comment"></span> 0
        </small>
        <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> 4 hours ago</small>
      </div>

      <p class="text-center"><a href="#">View more recent missions</a></p>
    </div>
  </div>

  <div id='id_current_mission_block' class='col-sm-6'>
    <legend id='id_current_mission_legend'>Current mission</legend>
  </div>

  <div id='id_right_bar' class='col-sm-3'>
  	<div class="offset-bottom">
      <legend>Upcoming events</legend>

      <div class="row upcoming-event upcoming-event-0">
        <h5><strong><a href="#">Unbelievable online event</a></strong></h5>
        <div>
          <small class="pull-left">
            <span class="glyphicon glyphicon-eye-open"></span> 3764
            <span class="glyphicon glyphicon-comment"></span> 7875
          </small>
          <small class="pull-right">
            <span class="glyphicon glyphicon-time"></span> Tomorrow / 19:00+10
          </small>
        </div>
        <hr>
        <p class="text-center"><small>starts in</small></p>
        <p class="text-center countdown">1d 09:10:59</p>
      </div>

      <div class="row upcoming-event upcoming-event-1">
        <h5><strong>Some periodic event</a></strong></h5>
        <div>
          <small class="pull-left">
            <span class="glyphicon glyphicon-eye-open"></span> 5667
            <span class="glyphicon glyphicon-comment"></span> 984
          </small>
          <small class="pull-right">
            <span class="glyphicon glyphicon-time"></span> April 21 / 20:15+10
          </small>
        </div>
      </div>

      <div class="row upcoming-event upcoming-event-2">
        <h5><strong><a href="#">Battle for victory</a></strong></h5>
        <div>
          <small class="pull-left">
            <span class="glyphicon glyphicon-eye-open"></span> 4545
            <span class="glyphicon glyphicon-comment"></span> 2677
          </small>
          <small class="pull-right">
            <span class="glyphicon glyphicon-time"></span> May 9 / 12:00+10
          </small>
        </div>
      </div>

      <p class="text-center"><a href="#">View more upcoming events</a></p>
    </div>

    <div>
      <legend>Next mission</legend>
      <div class="row next-mission">
        <strong><a href="#">Impossibru mission</a></strong>
      </div>
      <p class="text-center"><a href="#">View missions cycle</a></p>
    </div>
  </div>
</div>
{% endblock %}
