{% extends "base.html" %}

{% block head_title %}
{% trans %}Sign up request{% endtrans %}
{% endblock %}

{% block head_extras %}
<style type="text/css">
  #block-sign-up-request {
    width: 450px;
    margin: 35px auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <legend>{% trans %}Sign up request{% endtrans %}</legend>
    <span class="help-block">{% trans %}Before you join, we need to check your email. Give us your email and further instructions will be sent to you.{% endtrans %}</span>

    <div id="success_block" class="alert alert-success alerts-placeholder">
      {% trans email="<b id='request_email'></b>"|safe %}
        Instructions for email confirmation were sent to {{ email }}. Check out your inbox!
      {% endtrans %}
      <br/>
      {% trans time_left="<span id='time_left'></span>"|safe %}
        Your request will expire in {{ time_left }}.
      {% endtrans %}
    </div>
  </div>
</div>
<div class="row">
  <div id="block-sign-up-request">
    <form class="form" role="form" id="form-signup-request" action="{% url auth-custom-sign-up-request %}" method="post">
      {% csrf_token %}
      <div class="alert alert-danger alert-dismissable alerts-placeholder">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <span class='form-message'></span>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <input type="email" class="form-control" name="email" id="signin-username-email" data-toggle="tooltip" title="{% trans %}Email to send your sign up instructions to{% endtrans %}" placeholder="{% trans %}Email address{% endtrans %}" required>
          <span class="input-group-btn">
            <button id="submit-signup-request" type="submit" class="btn btn-primary ladda-button" data-style="zoom-out">{% trans %}Go!{% endtrans %}</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script_extras %}
<script type="text/javascript">
  /* Hide sign up error message */
  $('#form-signup-request .alert .close').click(function() {
    $(this).parent().hide()
  })
  /* Submit sign up request request */
  $('#form-signup-request').submit(function(e) {
    e.preventDefault()
    var frm = $(this)
    , url = frm.attr('action')
    , button = frm.find('#submit-signup-request').get(0)

    if (typeof button.ladda === "undefined") {
      button.ladda = Ladda.create(button)
    }

    function _show_error(message) {
      frm.find('.alert-danger .form-message').text(message)
      frm.find('.alert-danger').show()
    }

    frm.find('.alert-danger').hide()
    button.ladda.start()
    $.post(url
      , frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          $('p.help-text').remove()
          $('#block-sign-up-request').parent().remove()

          $('#request_email').text(response.email)
          $('#time_left').text(response.time_left)
          $('#success_block').show()
        } else {
          _show_error(response.error.message)
        }
      }
      , "json"
    ).fail(function(request, status, error) {
      _show_error("{% trans %}Request execution error{% endtrans %}")
    }).always(function(data) {
      button.ladda.stop()
    })

    return false
  })
</script>
{% endblock %}
