{% extends "base.html" %}

{% block head_title %}
{% trans %}Sign in{% endtrans %}
{% endblock %}

{% block content %}
<div id="signin-block">

{% include "auth_custom/blocks/sign-in.html" %}

</div>
{% endblock %}

{% block script_extras %}
<script type="text/javascript">
  $('#form-signin').submit(function(e) {
    var button = $(this).find('#submit-signin').get(0)
    if (typeof button.ladda === "undefined") {
      button.ladda = Ladda.create(button)
    }
    button.ladda.start()
  })
</script>
{% endblock %}
