{% extends "base.html" %}

{% block head_title %}
{% trans %}Sign up request{% endtrans %}
{% endblock %}

{% block head_extras %}
<style type="text/css">
  #block-sign-up-request {
    width: 450px;
    margin: 35px auto;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <legend>{% trans %}Sign up request{% endtrans %}</legend>
    <span class="help-block">{% trans %}Before you join, we need to check your email. Give us your email and further instructions will be sent to you.{% endtrans %}</span>

    <div id="success_block" class="alert alert-success alerts-placeholder">
      {% trans email="<b id='target_email'></b>"|safe %}
        Instructions for email confirmation were sent to {{ email }}. Check out your inbox!
      {% endtrans %}
    </div>
  </div>
</div>
<div class="row">
  <div id="block-sign-up-request">
    <form class="form form-ajax" role="form" id="id_form_sign_up_request" action="{% url auth-custom-sign-up-request %}" method="post">
      {% csrf_token %}
      <div class="alert alert-danger alert-dismissable alerts-placeholder">
        <button type="button" class="close" aria-hidden="true">&times;</button>
        <span class='form-message'></span>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <input type="email" class="form-control" name="email" id="id_email" data-toggle="tooltip" title="{{ form.email.help_text }}" placeholder="{{ form.email.label }}" required>
          <span class="input-group-btn">
            <button id="id_submit_sign_up_request" type="submit" class="btn btn-primary ladda-button" data-style="zoom-out">{% trans %}Go!{% endtrans %}</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block script_extras %}
<script type="text/javascript">
  /* Submit sign up request and wait for result ---------------------------- */
  $('#id_form_sign_up_request').submit(function(e) {
    e.preventDefault()

    var frm = this
    , $frm = $(this)

    /* Periodically submit requests to check status of email sending ------- */
    function wait_async_result(task_id, email) {
      var url = "{% url api-website-task-result task_id='task_id' %}".replace('task_id', task_id)
      , interval = undefined

      function stop_requester() {
        clearInterval(interval)
        frm.ladda.stop()
      }

      function request_sender() {
        $.get(url
          , function(response) {
            if (response.status == 'success') {
              if (response.ready) {
                if (response.result == true) {

                  $('p.help-text').remove()
                  $('#block-sign-up-request').parent().remove()

                  $('#target_email').text(email)
                  $('#success_block').show()

                } else {
                  frm.show_error("{% trans %}Sorry, we failed to send an email to you. Please, try again a bit later.{% endtrans %}")
                }
                stop_requester()
              }
            } else {
              frm.show_error(response.error.message)
              stop_requester()
            }
          }
          , "json"
        ).fail(function() {
          frm.show_request_execution_error()
          stop_requester()
        })
      }

      interval = setInterval(request_sender, 5000)
    }

    /* Send sign up request and get ID of async task ----------------------- */
    var url = $frm.attr('action')

    frm.hide_messages()
    frm.ladda.start()
    $.post(url
      , $frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          wait_async_result(response.task_id, response.email)
        } else {
          frm.show_error(response.error.message)
          frm.ladda.stop()
        }
      }
      , "json"
    ).fail(function() {
      frm.show_request_execution_error()
      frm.ladda.stop()
    })

    return false
  })
</script>
{% endblock %}
