{% extends "base.html" %}

{% block head_title %}
{% trans %}Account settings{% endtrans %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <legend>{% trans %}Account settings{% endtrans %}</legend>

    {% include "website/blocks/messages.html" %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}General settings{% endtrans %}</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" id="id_form_general" action="{% url auth-custom-general-settings %}" method="post">
          {% csrf_token %}

          <div id="non_field_errors" class="alert alert-danger alert-dismissable alerts-placeholder">
            <button type="button" class="close" aria-hidden="true">&times;</button>
            <span class='form-message'></span>
          </div>

          <div class="offset-bottom">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
              <input type="text" class="form-control" id="id_first_name" name="first_name"
                     data-toggle="tooltip" title="{{ form_general.first_name.help_text }}"
                     placeholder="{{ form_general.first_name.label }}"
                     value="{{ user.first_name }}" required>
            </div>
          </div>
          <div class="offset-bottom">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
              <input type="text" class="form-control" id="id_last_name" name="last_name"
                     data-toggle="tooltip" title="{{ form_general.last_name.help_text }}"
                     placeholder="{{ form_general.last_name.label }}"
                     value="{{ user.last_name }}">
            </div>
          </div>
          <div class="offset-bottom">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              <input type="email" class="form-control" id="id_email" name="email"
                     data-toggle="tooltip" title="{{ form_general.email.help_text }}"
                     placeholder="{{ form_general.email.label }}"
                     value="{{ user.email }}" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 has-error alerts-placeholder"></div>
            <label for="select_language" class="col-sm-4 control-label">{{ form_general.language.label }}</label>
            <div class="col-sm-6">
              <select class="form-control" id="id_language" name="language"
                      data-toggle="tooltip" title="{{ form_general.language.help_text }}">
              {% for (code, name) in form_general.language.field.choices %}
                <option title="{{ name }}" value="{{ code }}"{% if code == user.language %} selected='selected'{% endif %}>{{ code|native_lang }}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <button id="id_submit_generic" type="submit"
                  class="btn btn-primary btn-block ladda-button"
                  data-style="zoom-out">{% trans %}Apply settings{% endtrans %}</button>
        </form>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" data-target="#collapse_password">
        <h3 class="panel-title">{% trans %}Change password{% endtrans %}</h3>
      </div>
      <div id="collapse_password" class="panel-collapse collapse">
        <div class="panel-body">
          <form class="form-horizontal" role="form" id="id_form_password" action="{% url auth-custom-password-change %}" method="post">
            {% csrf_token %}

            <div class="alert alert-success alert-dismissable alerts-placeholder">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <span class='form-message'>{% trans %}Password was successfully updated{% endtrans %}.</span>
            </div>
            <div id="non_field_errors" class="alert alert-danger alert-dismissable alerts-placeholder">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <span class='form-message'></span>
            </div>

            <div class="offset-bottom">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" id="id_old_password" name="old_password"
                       data-toggle="tooltip" title="{{ form_password.old_password.label }}"
                       placeholder="{{ form_password.old_password.label }}" required>
              </div>
            </div>
            <div class="offset-bottom">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1"
                       data-toggle="tooltip" title="{{ form_password.new_password1.label }}"
                       placeholder="{{ form_password.new_password1.label }}" required>
              </div>
            </div>
            <div class="offset-bottom">
              <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2"
                       data-toggle="tooltip" title="{{ form_password.new_password2.label }}"
                       placeholder="{{ form_password.new_password2.label }}" required>
              </div>
            </div>
            <button id="id_submit_password" type="submit"
                    class="btn btn-primary ladda-button"
                    data-style="zoom-out">{% trans %}Update{% endtrans %}</button>
            <button id="id_forgot_password" type="button"
                    class="btn btn-link pull-right">{% trans %}Forgot password{% endtrans %}?</button>
          </form>
        </div>
      </div>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading" data-toggle="collapse" data-target="#collapse_username">
        <h3 class="panel-title">{% trans %}Change username{% endtrans %}</h3>
      </div>
      <div id="collapse_username" class="panel-collapse collapse">
        <div class="panel-body">
          <p>{% trans %}Changing your username can have unintended side effects{% endtrans %}.</p>
          <button type="button" class="btn btn-default">{% trans %}Change username{% endtrans %}</button>
        </div>
      </div>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading" data-toggle="collapse" data-target="#collapse_deactivate">
        <h3 class="panel-title">{% trans %}Deactivate account{% endtrans %}</h3>
      </div>
      <div id="collapse_deactivate" class="panel-collapse collapse">
        <div class="panel-body">
          <p>{% trans %}Deactivating means that no one will see your profile. We'll miss you, but you're welcome back any time.{% endtrans %}</p>
          <button type="button" class="btn btn-default" style="color: #B65656;">{% trans %}Deactivate{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal forgot password -->
<div class="modal fade" id="id_modal_password" tabindex="-1" role="dialog" aria-labelledby="id_modal_password_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="id_modal_password_label">{% trans %}Password reset request{% endtrans %}</h4>
      </div>
      <div class="modal-body">
        <form id="id_form_password_modal" class="form-ajax" action="{% url auth-custom-remind-me-request %}" method="post">
          {% csrf_token %}
          <div class="alert alert-success alerts-placeholder">
            <span class='form-message'>{% trans %}Data and instructions were sent to{% endtrans %} <b><span id="id_target_email"></span></b>.</span>
          </div>
          <div class="alert alert-danger alerts-placeholder">
            <span class='form-message'></span>
          </div>
        </form>
        <div class="progress progress-striped active">
          <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script_extras %}
<script type="text/javascript">
  /* Hide form messages ---------------------------------------------------- */
  $('form .alert-dismissable .close').click(function() {
    $(this).parent().hide()
  })

  /* Submit general settings update ---------------------------------------- */
  $('#id_form_general').submit(function(e) {
    e.preventDefault()

    var frm = this
    , $frm = $(this)
    , url = $frm.attr('action')
    , button = $frm.find('#id_submit_generic').get(0)

    if (typeof button.ladda === "undefined") {
      button.ladda = Ladda.create(button)
    }

    function _show_field_error(container, value) {
      container.addClass('has-error')
      container.prepend('<span class="control-label">' + value + '</span>')
    }

    function _show_non_field_errors(data) {
      var block = $frm.find('#non_field_errors')
      block.find('span.form-message').text(data)
      block.show()
    }

    $frm.find('.alerts-placeholder').hide()
    $frm.find('.has-error span.control-label').remove()
    $frm.find('.has-error').removeClass('has-error')

    button.ladda.start()
    $.post(url
      , $frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          /* Do not call 'reload' - new language may differ from current
           * language.
           */
          window.location = "{{ CURRENT_PATH }}"
        } else {
          if (typeof response.errors != 'undefined') {
            for (var key in response.errors) {
              if (response.errors.hasOwnProperty(key)) {
                var element = $('#id_' + key)
                , container = element.parent().parent()

                if (key == 'language') {
                  container = container.find('.alerts-placeholder')
                  _show_field_error(container, response.errors[key])
                  element.parent().addClass('has-error')
                  container.show()
                } else {
                  _show_field_error(container, response.errors[key])
                }
              }
            }
          } else {
            _show_non_field_errors(response.error.message)
          }
        }
      }
      , "json"
    ).fail(function(request, status, error) {
      _show_non_field_errors("{% trans %}Request execution error{% endtrans %}")
    }).always(function(data) {
      button.ladda.stop()
    })

    return false
  })

  /* Submit password update ------------------------------------------------ */
  $('#id_form_password').submit(function(e) {
    e.preventDefault()

    var frm = this
    , $frm = $(this)
    , url = $frm.attr('action')
    , button = $frm.find('#id_submit_password').get(0)

    if (typeof button.ladda === "undefined") {
      button.ladda = Ladda.create(button)
    }

    function _show_field_error(container, value) {
      container.addClass('has-error')
      container.prepend('<span class="control-label">' + value + '</span>')
    }

    function _show_non_field_errors(data) {
      var block = $frm.find('#non_field_errors')
      block.find('span.form-message').text(data)
      block.show()
    }

    $frm.find('.alerts-placeholder').hide()
    $frm.find('.has-error span.control-label').remove()
    $frm.find('.has-error').removeClass('has-error')

    button.ladda.start()
    $.post(url
      , $frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          $frm.find('input.form-control').val('')
          $frm.find('div.alert-success').show()
        } else {
          if (typeof response.errors != 'undefined') {
            for (var key in response.errors) {
              if (response.errors.hasOwnProperty(key)) {
                var container = $('#id_' + key).parent().parent()
                _show_field_error(container, response.errors[key])
              }
            }
          } else {
            _show_non_field_errors(response.error.message)
          }
        }
      }
      , "json"
    ).fail(function(request, status, error) {
      _show_non_field_errors("{% trans %}Request execution error{% endtrans %}")
    }).always(function(data) {
      button.ladda.stop()
    })

    return false
  })

  /* Submit password reset- ------------------------------------------------ */
  $('#id_forgot_password').click(function() {
    var dialog = $('#id_modal_password')
    , $frm = dialog.find('form')
    , frm = $frm.get(0)
    , url = $frm.attr('action')

    dialog.modal('show')
    $.post(url
      , $frm.serialize()
      , function(response) {
        if (response.status == 'success') {
          dialog.find('#id_target_email').text(response.email)
          dialog.find('.alert-success').show()
        } else {
          frm.show_error(response.error.message)
        }
      }
      , "json"
    ).fail(function(request, status, error) {
      frm.show_error("{% trans %}Request execution error{% endtrans %}")
    }).always(function(data) {
      dialog.find('div.progress').remove()
    })
  })
  $('#id_form_password_modal').submit(function(e) {
    e.preventDefault()
  })
</script>
{% endblock %}
