# -*- coding: utf-8 -*-
"""
Example of private settings for local development platform.

Use this file as a base for your local development private settings and copy
it to il2ec/settings/components/vagrant/private.py.

This should not be checked into the code repository.
"""
SECRET_KEY = 'secret_key'
EMAIL_HOST_PASSWORD = 'secret_email_password'
