# -*- coding: utf-8 -*-
"""
Example private settings for staging platform.

Use this file as a base for your staging private settings and copy
it to il2ec/settings/staging/private.py. It should not be checked into the code
repository.
"""
SECRET_KEY = 'secret_key'

EMAIL_HOST_USER = 'staging_name@example.com'
EMAIL_HOST_PASSWORD = 'secret_email_password'

DATABASE_CREDENTIALS = {
    'USER': 'db_user_name',
    'PASSWORD': 'db_user_password',
}
