/*
 * Styles for base template
 */

/* Common layout ----------------------------------------------------------- */
html,
body {
  height: 100%;
}
body {
  /* For fixed navbar */
  padding-top: 70px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.offset-bottom {
  margin-bottom: 15px;
}

/* Navbar ------------------------------------------------------------------ */

.navbar {
  min-height: 42px;
}

#navbar-side {
  margin-right: 0px;
}

#nav-wrapper {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: none;
}

#nav-wrapper td {
  padding: 0;
}

.nav-side {
  width: 260px;
}

.navbar-nav > .dropdown > a:active,
.navbar-nav > .dropdown > a:hover,
.navbar-nav > .dropdown.open > a {
  background-image: -webkit-linear-gradient(top,#222 0,#282828 100%);
  background-image: linear-gradient(to bottom,#222 0,#282828 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff282828',GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,0.25);
}

#sign-in-menu {
  padding: 15px;
  min-width: 300px;
}
#sign-in-block {
  width: 268px;
  margin: 0 auto 35px auto;
}
#remind-data {
  margin-right: 10px;
}
.or-box {
  position: relative;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  margin-top:20px;
}
.or {
  color: #666666;
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  top: -10px;
  width: 40px;
  left: 115px;
}

/* Navbar project name ----------------------------------------------------- */

#project-name {
  color: #F0F0F0 !important;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  outline: none;
  line-height: 50px;
  display: table;
  margin: 0 auto;
}

#project-name a {
  color: inherit;
}

#project-name a:hover, #project-name a:active, #project-name a:focus {
  text-decoration: none;
  outline: none;
}

/* Main menu --------------------------------------------------------------- */
.dropdown-large > a {
  padding: 9px 15px !important;
}
.dropdown-menu-large {
  width: 420px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}

@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
/* User menu --------------------------------------------------------------- */
#nav_user_menu.dropdown-menu {
  min-width: 270px;
}
#nav_full_name {
  padding: 10px 20px 0px 20px;
  font-size: 16px;
}

/* Connection request ------------------------------------------------------ */

#id_modal_request_connection .modal-dialog {
  width: 470px;
}

#id_modal_request_connection #id_connection_command {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 20px;
}

/* Form helpers ------------------------------------------------------------ */
.alerts-placeholder {
  display: none;
}

/* Ladda buttons hover/focus fix ------------------------------------------- */
.ladda-button[data-loading].btn:hover,
.ladda-button[data-loading].btn:focus {
  background-position: 0 0 !important;
}

/* Other ------------------------------------------------------------------- */
div.panel-heading[data-toggle="collapse"]:hover {
  cursor: pointer;
}
